<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link href="../styles.css" rel="stylesheet">
	<script src="../frontendTaskLogic.js"></script>
	<title id="page-title">ToDo Maker | Tasks</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  </head>
  <body>
  	<div id="wrapper">
	    <header>
	    	<div id="page-banner">
	    		<h1 class="title">ToDo Maker</h1>
				<p>Easy task management tool</p>
				<p class="welcome-message">Welcome %user%</p>
		  		<nav>
					<ul>
						<li><a href="/logout" class="log">Log out</a></li>
					</ul>
				</nav>
        		<form id="search-tasks">
            		<input type="text" placeholder="Search tasks..." />
        		</form>
	    	</div>
	    </header>
	    <div id="task-list">
	    	<h2 class="title">Tasks</h2>
	    	<ul>
	    		
	    	</ul>
	    </div>
	    <form id="add-task">
			<input type="checkbox" id="hide">
			<label for="hide">Hide all tasks</label>
	    	<input type="text" placeholder="Add a task...">
	    	<button>Add</button>
	    </form>
	</div>
  </body>
</html>